* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f8f5e4;
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main > button {
  margin-bottom: 20px;
  font-size: 32px;
  padding: 5px 10px;
  background-color: #539165;
  color: #f8f5e4;
  border: none;
  box-shadow: 1px 1px 10px #000;
  cursor: pointer;
}

main > button:hover {
  background-color: #f7c04a;
}

main > button:focus {
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#board {
  border: 1px solid #fff;
  box-shadow: 1px 1px 5px #000;
}

tr {
  display: flex;
}

td {
  width: 40px;
  height: 40px;
  background-color: #f7c04a;
  display: flex;
  justify-content: center;
  align-items: center;
}

tr:nth-of-type(odd) > td:nth-of-type(even),
tr:nth-of-type(even) > td:nth-of-type(odd) {
  background-color: #3f497f;
}

tbody > tr > td > .snake {
  background-color: #539165;
  width: 100%;
  height: 100%;
}

tbody > tr > td > .apple {
  background-color: #df2e38;
  height: 80%;
  width: 80%;
  border-radius: 50%;
}

.banner {
  position: absolute;
  transform: translateY(5000%);
  transition: all 1s ease-in-out;
  width: 70%;
  height: 30%;
  background-color: #fff;
  border: 3px double #539165;
  outline: 3px double #539165;
  outline-offset: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  font-family: 'Press Start 2P', cursive;
}

.banner.game-over {
  transform: translateY(0);
  transition: all 0.4s ease-in-out;
}

.banner > button {
  margin-top: 50px;
  font-family: 'Press Start 2P', cursive;
  padding: 10px 20px;
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #616161;
}

.banner > button:hover {
  background-color: #539165;
  color: #fff;
  cursor: pointer;
}

main.game-over {
  filter: blur(5px);
}
