* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f8f5e4;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  margin-bottom: 20px;
  font-size: 32px;
  padding: 5px 10px;
  background-color: #539165;
  color: #f8f5e4;
  border: none;
  box-shadow: 1px 1px 10px #000;
}

button:active {
  background-color: #f7c04a;
}

button:focus {
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#board {
  border: 1px solid #fff;
  box-shadow: 1px 1px 5px #000;
}

tr {
  display: flex;
}

td {
  width: 40px;
  height: 40px;
  background-color: #f7c04a;
  display: flex;
  justify-content: center;
  align-items: center;
}

tr:nth-of-type(odd) > td:nth-of-type(even),
tr:nth-of-type(even) > td:nth-of-type(odd) {
  background-color: #3f497f;
}

tbody > tr > td > .snake {
  background-color: #539165;
  width: 100%;
  height: 100%;
}

tbody > tr > td > .apple {
  background-color: #df2e38;
  height: 80%;
  width: 80%;
  border-radius: 50%;
}
